In [34]:
import os
import pandas as pd
import numpy as np
from sklearn import preprocessing,metrics 
from IPython.core.display import HTML
pd.set_option("display.max_columns",75)
import warnings
import math
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import linear_model,svm
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve
import scipy.io

In [65]:
df1 = pd.read_excel('JPM Disposed.xlsx', skiprows = 1)
df2 = pd.read_excel('ML Disposed.xlsx', skiprows = 1)
df3 = pd.read_excel('BACM Disposed.xlsx', skiprows = 1)
df4 = pd.read_excel('SBM Disposed.xlsx', skiprows = 1)
df5 = pd.read_excel('CS Disposed.xlsx', skiprows = 1)
df5 = df5.drop(df5.columns[0],1)
mat_file= scipy.io.loadmat('LOSS.mat')
mat_file_pay = scipy.io.loadmat('PAY.mat')
#print(mat_file['LOSS'])
print(mat_file)

np_array = np.array(mat_file['LOSS'])
df6 = pd.DataFrame(np_array)
df6.columns = ['NOI','DSCR','LTV','Balance','Rate','Fee','Net Mortgage Rate','Year Built','Occupancy','ZipPop','CR','CS','CS Ratio','NOI Ratio','PV Ratio','IR','Renovation']
df6.insert(len(df6.columns),'Loss', 1)
df6.head()

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Mon Jan 01 10:50:20 2018', '__version__': '1.0', '__globals__': [], 'LOSS': array([[6.97399000e+05, 1.35000000e+00, 6.94000000e+01, ...,
        1.43158123e-01, 1.27688166e-01, 5.00000000e+00],
       [1.08863800e+06, 1.36000000e+00, 6.13000000e+01, ...,
        3.10453300e-01, 2.42792748e-01, 2.10000000e+01],
       [6.18081000e+05, 1.31000000e+00, 6.60000000e+01, ...,
        1.10992426e-01, 1.01224195e-01, 2.00000000e+00],
       ...,
       [1.28823500e+06, 1.19810000e+00, 7.83858000e+01, ...,
        3.49308824e-01, 2.87741267e-01, 2.00000000e+00],
       [4.51543000e+05, 1.24880000e+00, 7.42306000e+01, ...,
        3.18033139e-01, 2.88972719e-01, 1.10000000e+01],
       [9.25922000e+05, 1.30180000e+00, 6.48609000e+01, ...,
        2.69554659e-01, 2.29872462e-01, 1.00000000e+00]])}

,NOI,DSCR,LTV,Balance,Rate,Fee,Net Mortgage Rate,Year Built,Occupancy,ZipPop,CR,CS,CS Ratio,NOI Ratio,PV Ratio,IR,,Loss
0,697399.0,1.35,69.4,7250000.0,5.25,0.0312,5.2188,1998.0,100.0,22919.0,7.663725,351.880464,1.136903,4.144921,0.143158,0.127688,5.0,1
1,1088638.0,1.36,61.3,9100000.0,5.52,0.0312,5.4888,1984.0,95.4,23129.0,8.779339,463.441807,1.502204,4.144921,0.310453,0.242793,21.0,1
2,618081.0,1.31,66.0,6650000.0,5.45,0.0312,5.4188,2001.0,87.2,32504.0,7.358107,293.888839,1.076208,4.419219,0.110992,0.101224,2.0,1
3,260695.0,1.55,64.2,2600000.0,5.21,0.1112,5.0988,1965.0,100.0,32376.0,7.781940,353.971808,3.315033,4.242222,0.117658,0.080235,40.0,1
4,607133.0,1.26,65.8,6500000.0,5.29,0.0312,5.2588,1970.0,100.0,12942.0,7.404061,316.183875,2.961139,4.242222,0.274014,0.196397,4.0,1

In [66]:

df7 = pd.DataFrame(np.array(mat_file_pay['PAY']))
df7.columns = ['NOI','DSCR','LTV','Balance','Rate','Fee','Net Mortgage Rate','Year Built','Occupancy','ZipPop','CR','CS','CS Ratio','NOI Ratio','PV Ratio','IR','Renovation']
df7.insert(len(df7.columns),'Loss', 0)
df7.head()

,NOI,DSCR,LTV,Balance,Rate,Fee,Net Mortgage Rate,Year Built,Occupancy,ZipPop,CR,CS,CS Ratio,NOI Ratio,PV Ratio,IR,,Loss
0,601087.0,1.73,41.8,5800000.0,5.19,0.0312,5.1588,1955.0,77.8,15149.0,5.231393,98.917029,0.358684,4.242222,0.423695,0.577329,4.0,0
1,352982.0,1.30,60.1,3200000.0,5.55,0.0812,5.4688,1986.0,100.0,24668.0,8.694138,445.191571,1.937487,4.242222,0.090875,0.066759,6.0,0
2,489518.0,1.87,36.9,3100000.0,5.39,0.0312,5.3588,1999.0,100.0,44813.0,6.993114,275.089206,0.997503,4.242222,0.345052,0.351724,6.0,0
3,464180.0,1.40,65.4,5100000.0,5.21,0.0712,5.1388,1978.0,84.6,32364.0,7.196589,295.436693,2.766837,4.242222,0.209496,0.154483,1.0,0
4,576244.0,1.26,61.5,6600000.0,5.16,0.0312,5.1288,1979.0,90.1,30491.0,6.332352,209.012943,1.957457,4.242222,0.260073,0.217952,26.0,0

In [68]:
df7_test = df7
df6_test = df6

df6_test['PV Ratio'] = df6_test['PV Ratio'] * 10
df6_test['IR'] = df6_test['IR'] * 10

df6.head()

,NOI,DSCR,LTV,Balance,Rate,Fee,Net Mortgage Rate,Year Built,Occupancy,ZipPop,CR,CS,CS Ratio,NOI Ratio,PV Ratio,IR,,Loss
0,697399.0,1.35,69.4,7250000.0,5.25,0.0312,5.2188,1998.0,100.0,22919.0,7.663725,351.880464,1.136903,4.144921,14.315812,12.768817,5.0,1
1,1088638.0,1.36,61.3,9100000.0,5.52,0.0312,5.4888,1984.0,95.4,23129.0,8.779339,463.441807,1.502204,4.144921,31.045330,24.279275,21.0,1
2,618081.0,1.31,66.0,6650000.0,5.45,0.0312,5.4188,2001.0,87.2,32504.0,7.358107,293.888839,1.076208,4.419219,11.099243,10.122420,2.0,1
3,260695.0,1.55,64.2,2600000.0,5.21,0.1112,5.0988,1965.0,100.0,32376.0,7.781940,353.971808,3.315033,4.242222,11.765809,8.023523,40.0,1
4,607133.0,1.26,65.8,6500000.0,5.29,0.0312,5.2588,1970.0,100.0,12942.0,7.404061,316.183875,2.961139,4.242222,27.401411,19.639667,4.0,1

In [32]:
clean_index = df5.index[df5.columns[1] == '']
clean_index_list = clean_index.tolist()
print(clean_index_list)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [8]:
print(range(df))

TypeError: 'DataFrame' object cannot be interpreted as an integer

In [9]:
print(df.range())

AttributeError: 'DataFrame' object has no attribute 'range'

In [26]:
print('Current shape:', df.shape)

Current shape: (5134, 36)

In [18]:
df = df.dropna(axis=0, thresh = 36)

In [19]:
print('Current shape:', df.shape)

Current shape: (5134, 36)

In [31]:
df1 = pd.read_excel('JPM Disposed.xlsx', skiprows = 1)

In [25]:
print('Current shape:', df1.shape)

Current shape: (0, 37)

In [24]:
df1 = df1.dropna(axis=0, thresh = 37)

In [27]:
print(df)

                         Property\nName Trustee\nLoan ID Secur\nLoan\nBalance  \
0                         Metro Station        991072135              4850000
1                            The Colony        991072127              5800000
2             Riverwood Shopping Center        991072154              3880000
3                    The Lehman Mansion        991072093              8875000
4              Woodland Park Apartments        991072097              8500000
...                                 ...              ...                  ...
5165     63-65 South Street - Hopkinton        940953050              4600000
5166          South Sierra Plaza Retail        940952799              6500000
5167                      Madison Plaza         30265122              2800000
5168                 Addison at Wyndham        170000064             30850000
5169  StratReal Industrial Portfolio II       30259617_1             37200000

      DSCR     LTV Before Disposition\nBalance  \
0     1.19  127.59                     4059253
1     3.46    50.5                     4810571
2     1.56    72.9                     3253504
3      1.2      68                     6812218
4      1.2    78.7                     7079006
...    ...     ...                         ...
5165  1.22    76.7                     4490104
5166  1.42    61.9                     6248662
5167  1.14      80                     2759367
5168  1.24    76.6                    30850000
5169  1.35    79.5                           -

     Before Disposition\nPaid Thru\nDate Before Disposition\nDefeased\nStatus  \
0                    2015-02-01 00:00:00                                    -
1                    2015-02-01 00:00:00                                    -
2                    2015-02-01 00:00:00                                    -
3                    2015-02-01 00:00:00                       Fully defeased
4                    2015-02-01 00:00:00                       Fully defeased
...                                  ...                                  ...
5165                 2010-04-01 00:00:00                                    -
5166                 2009-09-01 00:00:00                                    -
5167                 2009-05-01 00:00:00                                    -
5168                 2016-01-11 00:00:00                                    -
5169                                   -                                    -

     Before Disposition\nModified\nStatus  \
0                                       -
1                                       -
2                                       -
3                                       -
4                                       -
...                                   ...
5165                                    -
5166                                    -
5167                                    -
5168                                    -
5169                                    -

     Before Disposition\nModification\nDate    Disposition\nDate  \
0                                         -  2015-03-25 00:00:00
1                                         -  2015-03-02 00:00:00
2                                         -  2015-03-02 00:00:00
3                                         -  2015-02-27 00:00:00
4                                         -  2015-02-27 00:00:00
...                                     ...                  ...
5165                                      -  2011-04-07 00:00:00
5166                                      -  2010-07-08 00:00:00
5167                                      -  2010-07-01 00:00:00
5168                                      -  2016-03-11 00:00:00
5169                                      -                    -

        Disposition\nType Disposition\nSub Type Disposition\nComments  \
0        Paid at Maturity                     -                     -
1        Paid at Maturity                     -                     -
2        Paid at Maturity                     -                     -
3        Paid at Maturity                     -                     -
4        Paid at Maturity                     -                     -
...                   ...                   ...                   ...
5165                 Loss                     -                     -
5166                 Loss                     -                     -
5167                 Loss                     -                     -
5168  Under Investigation                     -                     -
5169  Under Investigation                     -                     -

     Loss\nAmount  Loss\n% Loss\nMos to\nRecover Penalty\nAmount Penalty\n%  \
0               -        -                     -               -          -
1               -        -                     -               -          -
2               -        -                     -               -          -
3               -        -                     -               -          -
4               -        -                     -               -          -
...           ...      ...                   ...             ...        ...
5165      1559404    33.73                    12               -          -
5166      2089055    32.14                    10               -          -
5167       943839    36.71                    14               -          -
5168            -        -                     -               -          -
5169            -        -                     -               -          -

     Excess\nLiquidation\nProceeds Loan\nLiquidation\nReport  \
0                                -                         -
1                                -                         -
2                                -                         -
3                                -                         -
4                                -                         -
...                            ...                       ...
5165                             -                         -
5166                             -                         -
5167                             -                         -
5168                             -                         -
5169                             -                         -

     REO\nLiquidation\nReport Split Loan Information\nReason  \
0                           -                              -
1                           -                              -
2                           -                              -
3                           -                              -
4                           -                              -
...                       ...                            ...
5165                        -                              -
5166                        -                              -
5167                        -                              -
5168                        -                              -
5169                        -                Prepay Restrict

     Split Loan Information\nDate\nSplit  \
0                                      -
1                                      -
2                                      -
3                                      -
4                                      -
...                                  ...
5165                                   -
5166                                   -
5167                                   -
5168                                   -
5169                                   -

     Split Loan Information\nOrig Trustee\nLoan ID  \
0                                                -
1                                                -
2                                                -
3                                                -
4                                                -
...                                            ...
5165                                             -
5166                                             -
5167                                             -
5168                                             -
5169                                      30259617

         Loan\nSpecial\nServicer Workout\nStrategy Orig\nTerm Orig\nIO Per  \
0     C-III Asset Management LLC          Resolved        120            0
1     C-III Asset Management LLC   No workout code        120            0
2     C-III Asset Management LLC   No workout code        120            0
3     C-III Asset Management LLC   No workout code        120            0
4     C-III Asset Management LLC   No workout code        120            0
...                          ...               ...        ...          ...
5165  C-III Asset Management LLC   No workout code        120           24
5166  C-III Asset Management LLC   No workout code        120            0
5167  C-III Asset Management LLC   No workout code        120           24
5168  C-III Asset Management LLC   No workout code        120          120
5169  C-III Asset Management LLC   No workout code        120          120

        UW\nMaturity Date Mst Rcnt\nAppr Amt    Mst Rcnt\nAppr Dt  \
0     2015-03-01 00:00:00            3800000  2011-08-15 00:00:00
1     2015-03-01 00:00:00           11490000  2004-12-17 00:00:00
2     2015-03-01 00:00:00            5325000  2004-11-23 00:00:00
3     2015-03-01 00:00:00                  -                    -
4     2015-03-01 00:00:00                  -                    -
...                   ...                ...                  ...
5165  2017-03-01 00:00:00                  -                    -
5166  2017-03-01 00:00:00                  -                    -
5167  2017-03-01 00:00:00                  -                    -
5168  2017-03-11 00:00:00                  -                    -
5169  2017-01-11 00:00:00                  -                    -

     Normalized\nProp Type SqFt/\nNoUnits             City  State
0         RT-Shadow Anchor          45404          Orlando     FL
1          IN-Unclassified          72797      Culver City     CA
2         RT-Shadow Anchor          87066         La Place     LA
3                 OF-Urban          13300         New York     NY
4          MF-Unclassified            152  Wisconsin Dells     WI
...                    ...            ...              ...    ...
5165           OF-Suburban          58584        Hopkinton     MA
5166         RT-Unanchored          25164          Fontana     CA
5167      RT-Shadow Anchor          17513  Madison Heights     MI
5168       MF-Unclassified            312       Glen Allen     VA
5169       IN-Unclassified        5003066          Various  Multi

[5134 rows x 36 columns]

In [28]:
print(df[130140,:])

TypeError: '(slice(130, 140, None), slice(None, None, None))' is an invalid key

In [45]:
print(df1[math.isnan(df1['Trustee\nLoan ID'])])

TypeError: cannot convert the series to <class 'float'>

In [42]:
math.isnan(df1['Trustee\nLoan ID'][130])

True

In [59]:
nan_df = pd.DataFrame()
i=0
for i in range(x-1):
    nan_df.append(math.isnan(df1['Trustee\nLoan ID'][i]))

TypeError: cannot concatenate object of type '<class 'bool'>'; only Series and DataFrame objs are valid

In [51]:
[x,y] = df1.shape
print(x)

5170